.character {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.characterContainer {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.characterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrollTitle {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
