.card {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid #4caf50;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.cardMainText {
  color: black;
}

.cardText1 {
  color: rgb(48, 48, 48);
}

.cardText2 {
  color: rgb(48, 48, 48);
}

.link {
  margin-top: 0.5rem;
  display: inline-block;
  color: #4caf50;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
